@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 0 2rem;
  background: #cd890c5e;
  font-family: "Rubik Distressed", cursive;
  position: sticky;
  z-index: 4;
  top: 0;
  img {
    width: 100px;
  }
  ul {
    display: flex;
    gap: 1rem;
    li {
      list-style: none;
      padding: 0.5rem;
      font-size: 1.5rem;
      &:hover {
        background-color: black;
        color: #cd890c;
        border-radius: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
    nav{
        padding: 0.5rem;
        ul{
            flex-direction:column;
            font-size: 0.5rem;
            gap: 0.1rem;
               }
    }

}

